doctype html
html
  head
    title Reset Your Password
  body
    h1 Hello #{firstName}
    p You requested a password reset.
    p Click the button below to reset your password.
    a(href= url) Reset Password
    p If you didn't request this, please ignore this email.
